MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=finora
GOOGLE_CLIENT_ID=INSERISCI_CLIENT_ID.apps.googleusercontent.com
JWT_SECRET=GENERARE_CON_generate_keys.py
DATA_ENCRYPTION_KEY=GENERARE_CON_generate_keys.py
USER_INDEX_SECRET=GENERARE_CON_generate_keys.py
FRONTEND_ORIGINS=http://localhost:5500,https://TUO-USERNAME.github.io
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
ACCESS_TOKEN_MINUTES=60
